/* Global Styles */


- {
box-sizing: border-box;
margin: 0;
padding: 0;
}

/* Logo Styles */

.logo {
width: 20%;
max-widith: 100%
height: auto;
margin: 10px;
}

body {
font-family: 'Open Sans', sans-serif;
font-size: 18px;
line-height: 1.5;
color: #333;
background-color: #fff;
background-image: url('background-pattern.png');
background-size: 200px 200px;
}

/* Font Styles */


h1, h2, h3 {
font-weight: bold;
color: #34C759;
}

h1 {
font-size: 24px;
}

h2 {
font-size: 20px;
}

h3 {
font-size: 18px;
}

em {
font-style: italic;
color: #666;
}

strong {
font-weight: bold;
color: #34C759;
}

/* Background */


.background-pattern {
background-image: url('background-pattern.png');
background-size: 200px 200px;
}

/* Colors */


.primary-color {
color: #34C759;
}

.secondary-color {
color: #fff;
}

.accent-color {
color: #666;
}

/* Layout */


.container {
max-width: 1200px;
margin: 40px auto;
padding: 20px;
background-color: #fff;
border: 1px solid #ddd;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Mobile Responsiveness */


@media (max-width: 768px) {
.container {
margin: 20px auto;
padding: 10px;
}
}

@media (max-width: 480px) {
.container {
margin: 10px auto;
padding: 5px;
}
}

